<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link type="text/css" rel="stylesheet" href=<%= url('css/reset.css') %>>
  <link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href=<%= url('css/admin_stylesheet.css') %>>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<% if logged_in %>
  <p id="admin_welcome">Welcome, admin!</p>
<% end %>
<div id="top_header">
  <a href="/">Nathanael Burt</a>
</div>
<nav id="menubar">
  <ul>
    <li><a href="/blog" class="<%= "current" if @current == "blog" %>">Blog</a></li>
    <li><a href="/resume" class="<%= "current" if @current == "resume" %>">Resume</a></li>
    <li><a href="/portfolio" class="<%= "current" if @current == "portfolio" %>">Portfolio</a></li>
    <% if logged_in %>
      <li><a href="/logout">Logout</a></li>
    <% end %>
  </ul>
</nav>
</div>

<%= yield %>
</body>
</html>