<% @current = "blog" %>
<% if logged_in == true %>
  <br>
  <div class="link_container">
    <a id="create_blog_link" href="/blog/new">Create a New Blog Post</a>
  </div>
<% end %>
<div id="recent_posts_container">
  <ol>
    <% recent_posts.each do |post| %>
      <li id="blog_post_list"><a href="<%= url_host %>/blog/<%= post[:slug] %>"><%= post[:full_title] %></a>
        - <%= post[:date].strftime('%-m/%-d/%Y') %></li>
      <p><%= post[:post_description] %>... <a id="read_more" href="<%= url_host %>/blog/<%= post[:slug] %>">Read More</a></p>

    <% end %>
  </ol>
  <% if recent_posts.length == 10 %>
    <div class="older_posts_container">
      <a class="older_posts" href="/blog/page/2">Older Posts</a>
    </div>
  <% end %>
</div>