<article>
  <div id="post_container">
    <ul id="blog_post_layout">
      <li>
        <h1 id="blog_title"><%= title %></h1>
        <span id="blog_date"><%= date %></span>
      </li>
      <br>
      <li id="blog_subtitle"><h4><%= subtitle %></h4></li>
      <br>
      <br>
      <li id="rendered_text"><%= rendered_text %></li>
    </ul>
  </div>
  <div id="blog_list_container">
    <ul>
        <li id="recent_posts_header_sidebar">Recent Posts</li><br>
      <% recent_posts.each do |post| %>
        <li id="blog_post_list"><a href="<%= url_host %>/blog/<%= post[:recent_urls] %>"><%= post[:recent_titles] %></a> - <%= post[:date].strftime('%-m/%-d/%Y') %></li><br>
      <% end %>
    </ul>
  </div>
</article>
