<% if logged_in %>
  <div class="link_container">
    <a id="edit_blog_link" href="/blog/<%= slug %>/edit">Edit Blog Post</a>

    <form action="/blog/<%= slug %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button id="delete_blog_link">Delete Blog Post</button>
    </form>
  </div>
<% end %>
<article>
  <div id="post_container">
    <ul id="blog_post_layout">
      <li>
        <div id="blog_title"><%= post[:title] %></div>
        <span id="blog_date"><%= post[:time] %></span>
      </li>
      <li id="blog_subtitle"><%= post[:subtitle] %></li>
      <li id="rendered_text"><%= post[:rendered_text] %></li>
    </ul>
  </div>
  <div id="blog_list_container">
    <ul>
      <li id="tags_header">Tags</li>
      <% if post[:tags] != nil %>
        <% tags_array = post[:tags].split(",") %>
        <% tags_array.map do |tag| %>
          <% tag.strip! %>
          <li id="tags_list"><a href="/tags/<%= tag.downcase %>"><%= tag %></a></li>
        <% end %>
      <% end %>
    </ul>
    <ul>
      <li id="sidebar_post_header">Recent Posts</li>
      <% recent_posts.each do |recent_post| %>
        <li id="sidebar_post_list">
          <a href="/blog/<%= recent_post[:slug] %>">
            <%= recent_post[:full_title] %>
          </a> - <%= recent_post[:time].strftime('%-m/%-d/%Y') %>
        </li>
      <% end %>
    </ul>
  </div>
</article>
<div id="comment_container">
  <div id="comment_form_container">
    <ul id="comment_form_list">
      <form id="comment_form" action="/blog/<%= slug %>" method="post">
        <li><input placeholder="Name" type="text" name="name" required></li>
        <li><textarea placeholder="Comment" name="comment" cols="30" rows="5" required></textarea></li>
        <li>
          <button>Post Comment</button>
        </li>
      </form>
    </ul>
    <% if comments.count != 0 %>
      <h3 class="h3_without_underline">Recent Comments</h3>
      <ul id="comment_list">
        <% comments.each do |comment| %>
          <li id="comment_name"><%= comment[:name] %>
            <span id="comment_time"><%= comment[:time].strftime('%-m/%-d/%Y %l:%M %p') %></span>
            <% if logged_in %>
                      <span id="view_comment"><a href="/blog/<%= slug %>/comment/<%= comment[:id] %>">View
                        Comment</a></span>
            <% end %>
          </li>
          <li><%= comment[:comment] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
