<% if logged_in == true %>
  <br>
  <div class="link_container">
    <a id="edit_blog_link" href="/blog/<%= slug %>/edit">Edit Blog Post</a>
    <a id="delete_blog_link" href="/blog/<%= slug %>/delete">Delete Blog Post</a>
  </div>
<% end %>
<article>
  <div id="post_container">
    <ul id="blog_post_layout">
      <li>
        <div id="blog_title"><%= post[:title] %></div>
        <span id="blog_date"><%= post[:date] %></span>
      </li>
      <li id="blog_subtitle"><h4><%= post[:subtitle] %></h4></li>
      <li id="rendered_text"><%= post[:rendered_text] %></li>
    </ul>
  </div>
  <div id="blog_list_container">
    <ul>
      <li id="recent_posts_sidebar">Recent Posts</li>
      <% recent_posts.each do |recent_post| %>
        <li id="blog_post_list">
          <a href="<%= url_host %>/blog/<%= recent_post[:slug] %>">
            <%= recent_post[:full_title] %>
          </a> - <%= recent_post[:date].strftime('%-m/%-d/%Y') %>
        </li>
      <% end %>
    </ul>
  </div>
</article>
