<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link type="text/css" rel="stylesheet" href=<%= url('css/normalize.css') %>>
  <link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href=<%= url('css/stylesheet.css') %>>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="<%= @meta_description %>">
  <script type="text/javascript">
    var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    // Configure the Keen object with your Project ID and (optional) access keys.
    Keen.configure({
      projectId: "534e9a06d97b8565cf000020",
      writeKey: "a691a7f09a7ce83aecbc2cd1f5774b68169013e620f440c6041cefa8f8b3fc3b8a576f6fd8cf8a568166cf18d6163da6582bcb3828c9dacd86f2ab6ecafe69e3f720e2bd39ff5a8189fba185bab2ed33480c49191f66689d9e73b71d4dd1447f759ea291879b2657e75ae0f0473bc2af", // required for sending events
      readKey: "b797e82985708448db1f1167ba1895f9972a52756c3f9baa40e152b48adc3c5ff113068b0be79eabd83ad25eeedd1c9578a536dcdc79abf3526a4a489fef79e7effda4cc06747096435ba16fb2fdfe5425bd566b091e24ee9cafc6703f7a1eb6eb45d3aca12fb7c43f98e103f6df4da9"    // required for doing analysis
    });
  </script>
</head>
<body>
<div id="background_picture">
  <div id="top_header">
    <a href="/">Nathanael Burt</a>
  </div>
  <nav>
    <div id="nav_container">
      <ul>
        <li><a href="/blog" class="<%= "current" if @current == "blog" %>">Blog</a></li>
        <li><a href="/portfolio" class="<%= "current" if @current == "portfolio" %>">Portfolio</a></li>
        <li><a href="/resume" class="<%= "current" if @current == "resume" %>">Resume</a></li>
        <% if logged_in %>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
<%= yield %>
<footer>
  <ul>
    <li><a href="mailto:nathanael.burt@gmail.com" target="_blank"><img src="/images/social-icons-27.png" alt="email icon"></a></li>
    <li><a href="http://www.twitter.com/Nathanael_Burt" target="_blank"><img src="/images/social-icons-22.png" alt="Twitter logo"></a></li>
    <li><a href="http://www.linkedin.com/in/nathanaelburt/" target="_blank"><img src="/images/social-icons-24.png" alt="LinkedIn logo"></a></li>
    <li><a href="http://www.github.com/nburt" target="_blank"><img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub logo"></a></li>
  </ul>
</footer>
</body>
</html>