<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link type="text/css" rel="stylesheet" href=<%= url('css/reset.css') %>>
  <link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href=<%= url('css/stylesheet.css') %>>
</head>
<body>
<div id="background_picture">
  <br>
  <br>
  <% if logged_in %>
    <p id="admin_welcome">Welcome, admin!</p>
  <% else %>
    <br>
    <br>
    <br>
  <% end %>
  <div id="top_header">
    <a href="/">Nathanael Burt</a>
  </div>
  <nav id="menubar">
    <ul>
      <li><a href="/blog" class="<%= "current" if @current == "blog" %>">Blog</a></li>
      <li><a href="/resume" class="<%= "current" if @current == "resume" %>">Resume</a></li>
      <li><a href="/portfolio" class="<%= "current" if @current == "portfolio" %>">Portfolio</a></li>
      <% if logged_in %>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </nav>
  <br>
  <br>
  <br>
</div>
<br>
<%= yield %>
<footer>
  <ul>
    <li><a href="mailto:nathanael.burt@gmail.com"><img src="/images/social-icons-27.png"></a></li>
    <li><a href="http://www.twitter.com/Nathanael_Burt"><img src="/images/social-icons-22.png"></a></li>
    <li><a href="http://www.linkedin.com/in/nathanaelburt/"><img src="/images/social-icons-24.png"></a></li>
    <li><a href="http://www.github.com/nburt"><img src="/images/GitHub-Mark-120px-plus.png"></a></li>
  </ul>
</footer>
</body>
</html>