<% @current = "blog" %>
<% if logged_in == true %>
  <br>
  <div class="link_container">
    <a id="create_blog_link" href="/blog/new">Create a New Blog Post</a>
  </div>
<% end %>
<div id="recent_posts_container">
  <ol>
    <% recent_posts.each do |post| %>
      <li id="blog_post_list"><a href="<%= url_host %>/blog/<%= post[:slug] %>"><%= post[:full_title] %></a>
        - <%= post[:date].strftime('%-m/%-d/%Y') %></li>
      <p><%= post[:post_description] %></p>
    <% end %>
  </ol>
  <div class="older_posts_container">
    <% if previous_page == 0 %>
      <a id="newer_posts" href="/blog">Newer Posts</a>
    <% else %>
      <a id="newer_posts" href="/blog/page/<%= previous_page %>">Newer Posts</a>
    <% end %>
    <% if recent_posts.length == 10 %>
      <a class="older_posts" href="/blog/page/<%= next_page %>">Older Posts</a>
    <% end %>
  </div>
</div>