<div id="tagged_posts_container">
  <ul>
    <% posts.each do |post| %>
      <li class="tagged_blogs_list"><a href="/blog/<%= post[:slug] %>"><%= post[:title] %>: <%= post[:subtitle] %></a>
        - <%= post[:time] %></li>
      <p><%= post[:post_description] %>... <a id="read_more" href="/blog/<%= post[:slug] %>">Read More</a></p>
    <% end %>
  </ul>
</div>